<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Warehouse</title>
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre.min.css">
        <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-exp.min.css">
        <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-icons.min.css">
    </head>
<body>
    <div class="bg-gray">
        <div class="card">
    </div>
    <div class="card-header">
        <div class="text-center">
        <div class="card-title h5" ><H1>Welcome in my warehouse</H1>
    </div>
       <div class="card-title h5" ><H4>you have: {{account}}</H4>
    </div>
    </div>
        <div class="column col-2">
        <div class="card-subtitle text-gray">
            <div>
                <ul class="breadcrumb">
                      <li class="breadcrumb-item">
                        <a href="/history/">History</a>
                        </li>
                    <li class="breadcrumb-item">
                        <a href="/thanks/">End</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
  </div>
  <div class="card-body">
<div class="">
    <div class="columns">
        <div class="column col-2"></div>
          <div class="column col-2">
            <h4>For Buy</h4>
          <form method="POST" action="/">
            <input type="hidden" name="action" value="zakup"/>
              <div class="form-group">
                  <div class="error">
                      {{error.zakup}}
                  <label class="form-label" for="input-name" >Product name</label>
                  <input class="form-input" type="text" id="input-name" name="name" placeholder="Name" value="{{form.name}}" required>
                  <label class="form-label" for="input-price">Price</label>
                  <input class="form-input" type="number" id="input-price" name="price" placeholder="Price" value="{{form.name}}" required>
                  <label class="form-label" for="input-quantity">Quantity</label>
                  <input class="form-input" type="number" id="input-quantity" name="quantity" placeholder="Quantity" value="{{form.name}}" required>
                  <button class="btn btn-primary">buy</button>
                  </div>
              </div>
          </form>
              </div>
        <div class="column col-1"></div>
  <div class="column col-2">
                  <h4>For Sell</h4>
          <form method="POST" action="/">
            <input type="hidden" name="action" value="sprzedaz"/>
              <div class="form-group">
                <div class="error">
                      {{error.sprzedaz}}
                  <label class="form-label" for="input-name-1">Product name</label>
                  <input class="form-input" type="text" id="input-name-1" name="name1" placeholder="Name" value="{{form.name1}}" required>
                  <label class="form-label" for="input-price-1">Price</label>
                  <input class="form-input" type="number" id="input-price-1" name="price1" placeholder="Price" value="{{form.name}}" required>
                  <label class="form-label" for="input-quantity-1">Quantity</label>
                  <input class="form-input" type="number" id="input-quantity-1" name="quantity1" placeholder="Quantity" value="{{form.name}}"required>
                  <button class="btn btn-primary">sell</button>
                </div>
              </div>
          </form>
  </div>
        <div class="column col-1"></div>
       <div class="column col-2">
                  <h4>For AccountBalance</h4>
          <form method="POST" action="/">
            <input type="hidden" name="action" value="saldo"/>
              <div class="form-group">
                  <div class="error">
                            {{error.saldo}}
                  <label class="form-label" for="input-amount">Amount</label>
                  <input class="form-input" type="number" id="input-amount" name="amount" placeholder="Amount" value="{{form.name}}" required>
                  <label class="form-label" for="input-comment">Price</label>
                  <input class="form-input" type="text" id="input-comment" name="comment" placeholder="comment" required>
                  <button class="btn btn-primary">confirm</button>
               </div>
              </div>
          </form>
       </div>
    <div class="column col-2">
  </div>
</div>
    <p></p>
    <div class="container">
        <div class="columns">
            <div class="column col-2"></div>
        <div class="column col-8">
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Product name</th>
                <th>Quantity</th>
            </tr>
        </thead>
        <tbody>
            {% for name in warehouse %}
                <tr class="active">
                    {% if warehouse[name] != 0 %}
                    <td>{{name}}</td>
                    <td>{{manager.warehouse[name]}}</td>
                </tr>
                {% endif %}
            {% endfor %}
        </tbody>
    </table>
    </div>
        </div>
            </div>
                <div class="column col-2">
                </div>
            </div>
        </div>
    </div>
</body>
</html>
